<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.planera.mis.planera2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_splash" />
        <activity android:name=".activities.SignupActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".activities.ProductCategoryActivity" />
        <activity android:name=".activities.ForgetPasswordActivity" />
        <activity android:name=".activities.ScheduleTimeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.ScheduleTimeActivity" />
        </activity>
        <activity
            android:name=".activities.AdminPanelActivity"
            android:label="@string/title_activity_admin_panel"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.AdminPanelActivity" />
        </activity>
        <activity
            android:name=".activities.SingleListActivity"
            android:label="@string/title_activity_single_list"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.SingleListActivity" />
        </activity>
        <activity android:name=".activities.ActivityAddDoctor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.ActivityAddDoctor" />
        </activity>
        <activity
            android:name=".activities.ActivityUpdateChemist"
            android:label="@string/title_activity_update_chemist"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.ActivityUpdateChemist" />
        </activity>
        <activity
            android:name=".activities.ActivityAddChemist"
            android:label="@string/title_activity_add_chemist"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.ActivityAddChemist" />
        </activity>
        <activity
            android:name=".activities.ActivityUpdateDoctor"
            android:label="@string/title_activity_update_doctor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.ActivityUpdateDoctor" />
        </activity>
        <activity
            android:name=".activities.ActivityUpdateUser"
            android:label="@string/title_activity_update_user"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.ActivityUpdateUser" />
        </activity>
        <activity
            android:name=".activities.ActivityCretePlan"
            android:label="@string/title_activity_crete_plan"
            android:parentActivityName=".activities.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.BaseActivity" />
        </activity>
        <activity
            android:name=".activities.ActivityUpdatePlan"
            android:label="@string/title_activity_update_plan"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".activities.ActivityUploadPlan"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>