<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.planera.mis.planera2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".controller.DataController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_splash" />
        <activity android:name=".activities.SignupActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".activities.ProductCategoryActivity" />
        <activity android:name=".activities.ForgetPasswordActivity" />
        <activity android:name=".activities.AddInputActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.AddInputActivity" />
        </activity>
        <activity
            android:name=".activities.AdminPanelActivity"
            android:label="@string/title_activity_admin_panel"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.planera.mis.planera2.AdminPanelActivity" />-->
        </activity>
        <activity
            android:name=".activities.SingleListActivity"
            android:label="@string/title_activity_single_list"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.SingleListActivity" />
        </activity>
        <activity android:name=".activities.ActivityAddDoctor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.ActivityAddDoctor" />
        </activity>
        <activity
            android:name=".activities.ActivityUpdateChemist"
            android:label="@string/title_activity_update_chemist"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.ActivityUpdateChemist" />
        </activity>
        <activity
            android:name=".activities.ActivityAddChemist"
            android:label="@string/title_activity_add_chemist"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.ActivityAddChemist" />
        </activity>
        <activity
            android:name=".activities.ActivityUpdateDoctor"
            android:label="@string/title_activity_update_doctor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.ActivityUpdateDoctor" />
        </activity>
        <activity
            android:name=".activities.ActivityUpdateUser"
            android:label="@string/title_activity_update_user"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.ActivityUpdateUser" />
        </activity>
        <activity
            android:name=".activities.ActivityCretePlan"
            android:label="@string/title_activity_crete_plan"
            android:parentActivityName=".activities.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.planera.mis.planera2.activities.BaseActivity" />
        </activity>
        <activity
            android:name=".activities.ActivityUpdatePlan"
            android:label="@string/title_activity_update_plan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityUploadDoctor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityAdminReports"
            android:label="@string/title_activity_admin_reports"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.BaseActivity" />
        <activity
            android:name=".activities.ActivityChangePassword"
            android:label="@string/title_activity_changepassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityUserPlanCreate"
            android:label="@string/title_activity_user_plan_create"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UserInputListActivity"
            android:label="@string/title_activity_user_input_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SearchDateWiseInputActivity"
            android:label="@string/title_activity_search_date_wise_input"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a30a59c51b2f102869d308e85cfdbf188f2b9aa5" />

        <activity
            android:name=".activities.ActivityUploadChemist"
            android:label="@string/title_activity_upload_chemist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ActivityUploadPlan"/>
    </application>

</manifest>